<?xml version="1.0"?>
<launch>
  <!-- Load a simplified test URDF for debugging -->
  <param name="robot_description" textfile="$(find env_sim)/urdf/ur5_1.urdf"/>
  
  <!-- Enable extensive debugging -->
  <param name="robot_state_publisher/publish_frequency" type="double" value="50.0" />
  <param name="/use_sim_time" value="false" />
  
  <!-- Launch with increased verbosity -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
  
  <!-- Joint state publisher -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen">
    <param name="use_gui" value="true"/>
    <param name="rate" value="50"/>
  </node>
  
  <!-- Launch RViz with default config -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find env_sim)/config/rviz/debug.rviz" output="screen"/>
  
  <!-- Debug TF tree -->
  <node pkg="tf" type="tf_monitor" name="tf_monitor" output="screen"/>
</launch>