<?xml version="1.0"?>
<launch>

    <!-- Associate to the robot description parameter, the urdf file that model the robot-->
  <param name="robot_description" textfile="$(find env_sim)/urdf/simplified_ur5_1.urdf"/>
    <!-- Read the joint value-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
    <!-- Visualization in Rviz-->
    <node name="rviz" pkg="rviz" type="rviz" args= "-d $(find env_sim)/config/rviz/ur5_1.rviz" />

    <!-- Visualization of the use_gui for playing with joint-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"  />
    
    

</launch>